    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">Site Title</a>
        <!-- Regular navigation options -->
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li class="xactive"><a href="#">Home</a></li>
          <li class="divider-vertical"></li>
          <li class="xactive"><a href="#">Link 1</a></li>
          <li class="divider-vertical"></li>
          <li class="xactive"><a href="#">Link 2</a></li>
        </ul>
        <!-- Drop-down for login options -->
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drop Down<b class="caret"></b></a>
            <ul class="dropdown-menu">
              Stuff in a drop down menu.
            </ul>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2" id="sidebar">
          <!--Sidebar content-->
        </div>
        <div class="span10" id="content">
          <!--Body content-->
        </div>
      </div>
    </div>